<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "csrf-token" content = "<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>Document</title>
    
</head>
<body>
    <div class = "grid grid-cols-6">
        <div class = "col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-2">Welcome to Todo Manager</p>
            <p class="py-2">New Here? <a href="/signup" class="text-green-600">Sign-Up Now!</a>
            <p class="py-2">Already a User? <a href="/login" class="text-green-600">Sign-in</a>
        </div>
    </div>
</body>
</html>